{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section id="inventory">
	<h1>Products List</h1>
	<br>
	<a href="{% url 'inventory:addProduct' %}">Add product </a>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">Nama Produk</div>
			<div class="col-md-3">Jumlah</div>
			<div class="col-md-3">Bahan</div>
			<div class="col-md-3">Informasi</div>
		</div><br>
		{% for obj in makanan %}
		<div class="row">			
			<div class="col-md-3">{{ obj.makanan }}</div>
			<div class="col-md-3">
				{% for a in obj.ambil %}
				<div class="row">{{a.jumlah}}</div>
				{% endfor %}
			</div>
			<div class="col-md-3">
				{% for b in obj.ambil %}
				<div class="row">{{b.bahan}}</div>
				{% endfor %}
			</div>
			<div class="col-md-3">text</div>
		</div><br>
		{% endfor %}
</section>

{% endblock %}