{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row m-5">
        <div class="control-group" id="fields">
            <h2 class="control-label" for="field1">Add Product</h2>
            <div class="controls">
                <form class="form-horizontal" method="POST" action="">
                    {% csrf_token %}
                    <div class="row spacer">
                        <div class="col-2">
                            <label>{{form.makanan.label}}</label>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                {{form.makanan}}
                            </div>
                        </div>
                    </div>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="row form-row spacer">
                        <div class="col-2">
                            <label>{{form.bahan.label}}</label>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                {{form.bahan}}
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success add-form-row">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <label>{{form.jumlah.label}}</label>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                {{form.jumlah}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row spacer">
                        <div class="col-4 offset-2">
                            <button type="submit" class="btn btn-block btn-primary m-2">Create</button>
                        </div>
                    </div>
                    <br>
                    <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script type='text/javascript'>
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace(('-' + (total-1) + '-'),( '-' + total + '-'));
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row:last', 'form');
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
    </script>
{% endblock %}