{% extends 'base.html' %}

{% load staticfiles %}

{% block style %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" media="screen">
{% endblock %}

{% block content %}


    <div class="row">
        <p class="sold-page">Products Sold</p>
    </div>

    {% for obj in makanan %}
    <div class="row">
        
        <div class="col-md-3">
            {{obj.makanan}}
        </div>

        <div class="col-md-3">
            <form class="css" action="{% url 'sold' %}" method="post">
            <button type="button" style="background-color: #892EFD" class = "btn btn-primary">Add</button>
            <input type="submit" class="btn btn-primary" value="Add">
        </div>

    </div>
    {% endfor %}

{% endblock %}

