{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/inventory.css' %}">

<div class="row">
    <div class="col-md-12">
        <h1 id="inventory">My Inventory</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="{% static 'images/white_sugar.jpg' %}" alt="White Sugar" height="250" width="250" class="img-fluid foto">
        <p id="items">White Sugar</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
    <div class="col-md-3">
        <img src="{% static 'images/butter.jpg' %}" alt="Butter" height="250" width="250" class="img-fluid foto">
        <p id="items">Butter</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
    <div class="col-md-3">
        <img src="{% static 'images/egg.jpg' %}" alt="Egg" height="250" width="250" class="img-fluid foto">
        <p id="items">Egg</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
    <div class="col-md-3">
        <img src="{% static 'images/baking soda.jpg' %}" alt="Baking Soda" height="250" width="250" class="img-fluid foto">
        <p id="items">Baking Soda</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="{% static 'images/brown_sugar.jpg' %}" alt="Brown Sugar" height="250" width="250" class="img-fluid foto">
        <p id="items">Brown Sugar</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
    <div class="col-md-3">
        <img src="{% static 'images/chocolate.jpg' %}" alt="Chocolate" height="250" width="250" class="img-fluid foto">
        <p id="items">Chocolate</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
    <div class="col-md-3">
        <img src="{% static 'images/cheese.jpg' %}" alt="Cheese" height="250" width="250" class="img-fluid foto">
        <p id="items">Cheese</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
    <div class="col-md-3">
        <img src="{% static 'images/milk.jpg' %}" alt="Milk" height="250" width="250" class="img-fluid foto">
        <p id="items">Milk</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="{% static 'images/vanilla.jpg' %}" alt="Vanilla Extract" height="250" width="250" class="img-fluid foto">
        <p id="items">Vanilla Extract</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
    <div class="col-md-3">
        <img src="{% static 'images/cocoa powder.jpg' %}" alt="Cocoa Powder" height="250" width="250" class="img-fluid foto">
        <p id="items">Cocoa Powder</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
    <div class="col-md-3">
        <img src="{% static 'images/honey.jpg' %}" alt="Honey" height="250" width="250" class="img-fluid foto">
        <p id="items">Honey</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
    <div class="col-md-3">
        <img src="{% static 'images/flour bag.jpg' %}" alt="Flour" height="250" width="250" class="img-fluid foto">
        <p id="items">Flour</p> <br>
        <p id="kg">0 kg</p>
        <button type="submit" class="add">Add</button>
    </div>
</div>
{% endblock %}